@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	transition:  0.2s ease-in-out all;
	box-sizing: border-box;
	font-family: 'JetBrains Mono', monospace !important;
}

html {
	overflow-x: hidden;
	background-color: #000;
}

background {
	width: 100% !important;
	height: 100% !important;
	position: fixed;
	top: 0;
	left: 0;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .7;
	background-color: #000;
	z-index: -1;
}

container {
	max-width: 94vh !important;
	max-height: 94vh !important;
	display: flex;
	margin: auto;
	padding: 30px;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background: rgba(36, 58, 115, .7);
	border-radius: 15px;
	border: 1px solid rgba(36, 58, 115, 1);
	box-shadow: 2px 2px 2px #000;
}

container .supports::before {
	display: flex;
	content: '- You can support us so that we are more active and enthusiastic in developing various software through the platform below :';
	color: #fff;
	margin: auto;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 14px;
}

container .supports .list {
	display: flex;
	margin: auto;
	width: fit-content;
	height: fit-content;
	align-items: center;
	background: #CDCDCD;
	border-radius: 15px;
	padding: 0;
	padding-right: 10px;
	background: rgba(36, 58, 115, .8);
	border: 1px solid rgba(36, 58, 115, 1);
	box-shadow: 1px 1px 1px #000;
	color: #fff;
	height: 50px;
}

container .supports .list:not(:first-child) {
	margin-top: 10px;
}

container .supports .list img {
	width: 50px;
	box-shadow: 2px 2px 2px #000;
	border-radius: 15px;
	background: rgba(36, 58, 115, 1);
	padding: 3px;
	margin-right: 10px;
}

container .supports .list.active {
	/* box-shadow: 4px 4px 4px #000; */
	transform: translate(30px);
	height: 50px;
}

container .supports .list.active img {
	transform: translate(-10px, -10px) rotate(-5deg);
	width: 40px;
}

@media only screen and (max-width: 992px) {
	container {
		width: 98% !important;
		margin: 0;
		height: 94vh !important;
	}

	container .supports .list {
		width: 95%;
	}

	container .supports::before {
		font-size: 17px;
	}

	container .supports .list .num {
		font-size: 18px;
	}
}

.mail,
.mail.active,
.mail.visited,
.mail:active,
.mail:visited {
	display: flex;
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #fff !important;
	text-decoration: none !important;
	width: fit-content;
}

.mail a {
	color: #fff !important;
	font-weight: 100;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none !important;
}

.developer {
	display: flex;
	position: fixed;
	bottom: 10px;
	left: 10px;
	color: #fff !important;
	text-decoration: none !important;
	width: fit-content;
}

.developer a {
	color: #fff !important;
	text-decoration: none !important;
	font-weight: 100;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none !important;
}

@media only screen and (max-width: 350px) {
	.mail {
		display: none;
	}
}